<%= simple_form_for(@music, html: { class: 'form-horizontal' } ) do |f| %>
  <%= f .error_notification %>
  <div class="form-group">
    <%= f.input :title, class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :chord %><br>
    <%= f.text_area :chord, class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :lyric %><br>
    <%= f.text_area :lyric, class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :obs %><br>
    <%= f.text_field :obs, class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :in_use %><br>
    <%= f.check_box :in_use, class: " form-control input-lg" %>
  </div>
  <%= f.submit "Salvar", class: "btn btn-default btn-lg" %>
<% end %>
