<div class="well">
  <div class="text-center">
    <%= will_paginate %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link(@q, :title, "Titulo") %></th>
        <th><%= sort_link(@q, :lyric, "Letra") %></th>
        <th colspan="2"  width="2px"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @musics %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate %>
  </div>
</div>