<div class="row clearfix">
  <div class="col-md-12 column">
    <p id="notice"><%= notice %></p>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <%= link_to '<< Musicas', musics_path, class: "btn btn-primary" %>
        <%= link_to 'Editar', edit_music_path(@music), class: "btn btn-primary" %>
        <%= link_to 'Letra', music_path(@music), class: "btn btn-primary", target: "letra" %>
        <%= link_to("Slide", download_slide_path(@music.id), class: "btn btn-primary") unless @music.slide.path.nil? %>
      </div>
      <div class="col=md-6 text-right">
        <%= simple_form_for @repertoire, remote: true do |f| %>
          <%= f.input :music_id, as: :hidden, input_html: { value: @music.id } %>
          <%= f.submit "Adicionar ao repertorio", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <hr>
    <h3>
      <strong>Title:</strong>
      <%= @music.title %>
    </h3>
    <hr>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="panel-group" id="panel-840005">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="panel-title" data-toggle="collapse" data-parent="#panel-840005" href="#panel-element-192046"><strong>Chords</strong></a>
        </div>
        <div id="panel-element-192046" class="panel-collapse collapse in">
          <div class="panel-body">
            <pre style="font-size:34px"><%= @music.chord %></pre>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="panel-title" data-toggle="collapse" data-parent="#panel-840005" href="#panel-element-359711"><strong>Lyric</strong></a>
        </div>
        <div id="panel-element-359711" class="panel-collapse collapse in">
          <div class="panel-body">
            <pre style="font-size:25px"><%= @music.lyric %></pre>
          </div>
        </div>
      </div>
    </div>
    <p><strong>Obs:</strong></p>
    <%= @music.obs %>
    <br>
    <br>
    <br>
  </div>
</div> 
