<h1>Listing patrimony_item_categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patrimony_item_categories.each do |patrimony_item_category| %>
      <tr>
        <td><%= patrimony_item_category.category %></td>
        <td><%= link_to 'Show', patrimony_item_category %></td>
        <td><%= link_to 'Edit', edit_patrimony_item_category_path(patrimony_item_category) %></td>
        <td><%= link_to 'Destroy', patrimony_item_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patrimony item category', new_patrimony_item_category_path %>
